<div class="footer">
  <div class="item copyright-block">
    <p class="mat-small"><b>Binadox Resources</b></p>
    <p class="mat-small">
      © Copyright Binadox, Inc 2018, All rights reserved. All other company or
      product names mentioned are used only for identification purposes and may
      be trademarks or registered trademarks of their respective owners.
    </p>
  </div>

  <span class="space-filler"></span>

  <button mat-flat-button class="item footer-button">
    <mat-icon class="button-icon">help_outline</mat-icon>
    <span class="button-text">Contact Support</span>
  </button>
</div>
