<div class="container">
  <!-- header -->
  <app-navbar class="navbar"></app-navbar>

  <!-- content -->
  <mat-sidenav-container class="content">
    <mat-sidenav mode="side" opened disableClose>
      <mat-nav-list>
        <mat-list-item
          *ngFor="let link of links"
          [routerLink]="link.routerLink"
          routerLinkActive="active"
        >
          <mat-icon matListIcon [svgIcon]="link.svgIcon"></mat-icon>
          <a matLine>{{ link.name }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- footer -->
  <app-footer class="footer"></app-footer>
</div>
