.container {
  display: flex;
  flex-wrap: nowrap;
}

.item {
  flex: 1 1 auto;
  margin: 0 0.25rem;
}

.account-name {
  font-size: 14px;
}

.circle {
  border-radius: 50%;
  text-align: center;
  background: gray;
  // font-size: 50px;
  width: 1.75em;
  height: 1.75em;
}
